
.cook-container {
    #search {
        margin: 0 auto;
        display: flex;
    }
    .radio {
        display: flex;

    }
    

    .search-container {
        display: flex;
        justify-content: center;
    }
        
    .meal-card {
        
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
    }
    
}